<table class="table table-bordered table-dark" id="algorithms">
  <thead>
  <tr>
    <th>
      Id
    </th>
    <th>
      Input
    </th>
    <th>
      Approximate Duration
    </th>
    <th>
      Status
    </th>
  </tr>
  </thead>
  <tbody>
    <% @algorithms.each do |algorithm| %>
    <tr>
      <td class="alg-id"><%= algorithm.id %> </td>
      <td><%= algorithm.input %></td>
      <td><%= algorithm.duration %></td>

      <% if algorithm.status == "ready" %>
        <td class="status ready">
      <% else %>
        <td class="status pending">
      <% end %>
        <%= algorithm.status %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>